/* Style Sheet for index.html */



/*Loader */
#loader {
    height: 100vh; 
    background: url("./images/header.jpg");
    padding-top: 20vh;
    }

@media screen and (max-width: 768px) {   
    #loader {
        padding-top: 35vh; 
        }
}


/* Navbar */
#navbar{
    position: fixed; 
    z-index: 99; 
    top: 0;
    width: 60px; 
    margin: 10px;
}

#navbar:hover{
    transform: scale(1.05);
}

#menu{
    visibility: hidden;
    position: fixed;
    z-index: 99; 
    top: 0;
    margin-top: 20px;
    margin-left: 80px;
    background-color: #637feb;
    width: 150px;
    border-radius: 20px;
    border: 1pt solid #2c396b;
}

#menuLesson{
    visibility: hidden;
    position: fixed;
    z-index: 99; 
    top: 0;
    margin-top: 20px;
    margin-left: 230px;
    background-color: #637feb;
    width: 150px;
    border-radius: 20px;
    border: 1pt solid #2c396b;
}

#menu > a, #menuLesson > a{
    text-decoration: none;
    display: block;
    color: #2c396b;
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
}

#menuLesson > p{
    text-decoration: none;
    display: block;
    color: #2c396b;
    padding: 20px;
    font-weight: bold;
}

#menu > a:hover, #menuLesson > a:hover{
    background-color: #2c396b;
    color: white;
}

/* Home Icon */
#homeIcon{
    position: fixed; 
    z-index: 99; 
    top: 0;
    width: 60px; 
    margin: 10px;
}

#homeIcon:hover{
    transform: scale(1.05);
}

#homeIcon > a > img {
    border-radius: 50%;
    }

/* Top Icon */
#topIcon{
    position: fixed; 
    z-index: 99; 
    margin-top: 90vh;
    width: 50px; 
    margin-left: 94vw;
}

#topIcon:hover{
    transform: scale(1.05);
}

#topIcon > a > img {
    border-radius: 50%;
    }

@media screen and (max-width: 768px) { 
    #topIcon{
        margin-left: 85vw;
        }
}

/* Head / home */
.home {
    width: 100vw; 
    height: 100vh; 
    text-align: center;
    background: url("./images/header.jpg");
    overflow-x: hidden;
    }

.homeCard {
    padding: 10vh;
    height: 100vh;
    width: 40vw;
    }

.homeCardR {
    text-align: left;
    padding-top: 35vh;
}

.headimage{
    height: max;
}

@media screen and (max-width: 768px) {   
    .home {
        height: 100vh; 
        }
    
    .homeCard {
        padding: 0;
        height: 50vh;
        width: 100vw;
        }

    .headimage{
        height: 50vh;
        padding: 10px;
        padding-top: 30px;
        }

    .homeCardR {
        text-align: center;
        }
}


/*Lessons */
.lessons{
    background-image: url("./images/bg.jpg");
    overflow-x: hidden;
}



/* Live Editor */
#mainContainer {
    self-align: center;
    display: flex;
    flex-direction: row;
}

#editor {
    height: 100vh; 
    width: 100vw; 
    background-image: url('./images/bgCode.jpg');
}

.head {
    padding: 20px;
}

.head > h1{
    color: white;
}

.boxes{
    padding: 10px;
    margin: 1vw;
    width: 49vw;
    height: 80vh;
    border-radius: 5px;
    background-color: #246114;
    opacity: 80%;
}

.boxessimple{
    padding: 10px;
    margin: 1vw;
    width: 49vw;
    height: 80vh;
    border-radius: 5px;
}

.innerBoxes{
    width: 99%; 
    height: 93%;
    border: 1px solid black;
    border-radius: 5px;
}
.boxes > h3{
    margin: 0;
    margin-bottom: 7px;
    padding-left: 7px;
    color: #94f57a;
}

@media (max-width: 1000px) {
    .head{
        display: none;
    }
    #mainContainer {
        flex-direction: column;
    }

    .boxes{
        width: 90%;
        height: 95vh;
        margin: 5%;
        padding: 0;
    }

    .boxessimple{
        width: 90%;
        height: 95vh;
        margin: 5%;
        padding: 0;
    }

    .innerBoxes{
        height: 94%;
    }

    #editor {
        height: 210vh; 
        width: 100vw; 
        background-image: url('./images/bgCode.jpg');
    }
    .boxes > h3{
        margin-top: 5px;
    }
}

.footer {
    text-align: center; 
    padding: 10px; 
    color: white; 
    background-color: #2e2d63; 
    position: relative;
    bottom: 0;
    }

.lessonPage {
    width: 100vw;  
    text-align: center;
    background: url("./images/header.jpg");
    overflow-x: hidden;
    padding-top: 10px;
    z-index: 98;
    }

#index > a {
    text-decoration: none;
    color: inherit;
    }

#index > a:hover {
    color: #2e2d63;
    }

.maintext {
    margin: 25px;
    }